.search{
    position: absolute;
    z-index: 1;
    left: 40%;
    right: 40%;
    top: 5px;
}

.search .search-field{
    height: 30px;
    padding-left: 5px;
    width: 100%;
}

.search-field{
    box-sizing: border-box;
    font-size: .85em;
}

.predictions{
    background-color: white;
}

p.prediction:hover {
    background-color: #ededed;
}

p.prediction{
  margin: 0;
  padding: 2px;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: .85em;
  cursor: pointer;
}